.product__carousel--image {
  max-width: 100%;
  object-fit: cover;
  max-height: 500px;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}

.pt-4.col-lg-6 {
  text-align: left;
  margin-top: -24px;
}

span.badge.bg-primary {
  border-radius: unset;
}

a.btn.btn-primary.btn-lg {
  border-radius: unset;
}

p.product__price {
  font-size: x-large;
}

span.badge.text-light.bg-warning {
  font-weight: 400;
}
